<template name="loginModal">
  <h4>Login</h4>
  <div class="row">
    <form class="col s12 loginModalForm" data-parsley-validate>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="emailLogin" type="text" class="validate">
          <label for="emailLogin">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input id="passwordLogin" type="password" class="validate">
          <label for="passwordLogin">password</label>
        </div>
      </div>
    </form>
  </div>
</template>
