<template name="registerModal">
  <h4>Register</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="email" type="email" class="validate">
          <label for="email">E-Mail</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input id="confirmPassword" type="password" class="validate">
          <label for="confirmPassword">Confirm Password</label>
        </div>
      </div>
    </form>
  </div>
</template>
