<template name="addFriendModal">
  <div id="addFriendModal" class="modal">
    <div class="modal-content">
      <h4>Add Friend by Mail</h4>
      <div class="row">
        <div class="input-field col s12">
          <input value="" id="friendEmail" type="text" class="validate">
          <label class="active" for="friendEmail">E-Mail</label>
        </div>
        <div class="col s12">
          <button class="btn waves-effect waves-light addFriendButton" type="submit" name="action">Add
            <i class="mdi-social-person-add left"></i>
          </button>
        </div>
      </div>
    </div>
    {{!--
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> --}}
  </div>
</template>
