<template name="chat">
  <div class="row chat">
    <div class="col s12">
      <h2 class="center-align">Chat</h2>
    </div>
    {{#if Template.subscriptionsReady}}
      {{#if doneLoading}}
        {{#each message}}
          {{> chatMessage}}
        {{/each}}
        <footer class="chatFooter">
          <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
              <div class="row">
                <div class="input-field col sendMessageInputWrapper">
                  <input placeholder="Enter a Message" id="sendMessageInput" type="text" class="validate">
                </div>
                <div class="col sendMessageButtonWrapper">
                  <button class="btn-floating waves-effect waves-light btn sendMessageButton" type="submit" name="action">
                    <i class="mdi-content-send"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </footer>
      {{else}}
        <h3 class="center-align"> Chat is Loading </h3>
      {{/if}}
    {{else}}
      <h3 class="center-align"> Subscribing to chat </h3>
    {{/if}}
  </div>
</template>
